[Unit]
Description=Zen Nodetracker Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=10m
Restart=always
ExecStartPre=-/usr/bin/docker stop %i
ExecStartPre=-/usr/bin/docker rm  %i
# Always pull the latest docker image
ExecStartPre=/usr/bin/docker pull freshpatze/nodetracker:latest
ExecStart=/usr/bin/docker run --rm \
                              -v /mnt/zen:/mnt/zen \
                              --name secnode freshpatze/nodetracker
[Install]
WantedBy=multi-user.target